<div class="jumbotron">	
	<%= link_to "Enter new stock", new_path, class: "btn btn-large btn-primary pull-right" %>
	
	<h1> Stocks  </h1>
	<ul>
		<div class="table-responsive">
		<table class="table table-striped table-bordered table-condensed table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Price</th>
					<th>Quantity</th>
					<th>Percentage</th>
					<th>Years</th>
				</tr>
			</thead>
			<tbody id="custom_table">
				<% @stock_items.each do |stock| %>
				<tr class='clickableRow' href='/#{params[:location]}'>
					<td><%= stock.name %></td>
					<td><%= number_with_precision(stock.price, precision: 2) %></td>
					<td><%= stock.quantity %></td>
					<td><%= number_with_precision(stock.percentage, precision: 2) %></td>
					<td><%= stock.years %></td>
				</tr>

				<% end %>
			</tbody>
		</table>
		</div>
	</ul>
</div>


