
<% provide(:title, 'Calculation result') %>
<div class= "jumbotron">
	<h1> Calculation result </h1>


	<div class="container">
		<div class="row-fluid">
			<div class="col-md-3">
				<h1>data</h1>

					<ul>
					<div class="table-responsive">
						<table class="table table-striped table-bordered table-condensed table-hover" id='original input data'>		
							<tbody id="custom_table">
								<tr>
									<td>Name</td>
									<td><%= @stock.name %></td>
								</tr>
								<tr>
									<td>Price</td>
									<td><%= @stock.price %></td>
								</tr>
								<tr>
									<td>Quantity</td>
									<td><%= @stock.quantity %></td>
								</tr>
								<tr>
									<td>Percentage</td>
									<td><%= @stock.percentage %></td>
								</tr>
								<tr>
									<td>Years</td>
									<td><%= @stock.years %></td>
								</tr>					
							</tbody>
						</table>
					</div>
				</ul>
			</div>

			<div class="col-md-6" id="chart original input data">
				<h1>graph</h1>
			  <%= high_chart("stock_yearly_return", build_chart(@stock)) %>
			</div>


			<div class="col-md-3">
				<h1>list</h1>

				<ul>
					<div class="table-responsive">
						<table class="table table-striped table-bordered table-condensed table-hover">
							<thead>
								<tr>
									<th> Year </th>
									<th> Price </th>
								</tr>
							</thead>
              <tbody id="custom_table">
								<% @stock.calculate_productivity.each_with_index do |value, index| %>
								<tr>
									<td><%= index %></td>
									<td><%= number_with_precision(value, precision: 2) %></td>
								</tr>
              <% end %>
							</tbody>
						</table>
					</div>
				</ul>
			</div> 
		</div>
	</div>
</div>



